{% extends "index.html" %}

{% block title %}<title>Авторизация</title>{% endblock %}
{% block nav %}{% endblock %}
{% block content %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="container w-25">
  {% if form.errors %}
  <p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
  {% endif %}
  <div class="mb-3">
    <label for="id_username" class="form-label">Имя пользователя</label>
    <!-- {{ form.username.label_tag }} -->
    <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" required id="id_username">
    <!-- {{ form.username }} -->
  </div>
  <div class="mb-3">
    <label for="id_password" class="form-label">Пароль</label>
    <!-- {{ form.password.label_tag }} -->
    <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password">
    <!-- {{ form.password }} -->
  </div>
  <button type="submit" class="btn btn-secondary">Отправить</button>
  <input type="hidden" name="next" value="{{ next }}" />
  <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
  <p><a href="/admin">Панель администратора</a></p>
  </div>
</form>
{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}

