{% extends "base_generic.html" %}
    {% load static %}
    {% block css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}
    {% block content %}
    <main class="container">
      <div class="text-center py-4 px-3">
        <h1>ДИАГРАММА ЗАВИСИМОСТЕЙ КОМПОНЕНТОВ</h1>
        <h2>Расчет показателей снизу вверх: "Доступность", "Устойчивость"</h2>
        <h2>Расчет показателй сверху вниз: "Стоимость простоя", "RTO", "RPO"</h2>
      </div>
      <div id="chart"></div>
    </main>
    {% endblock  %}
    {% block jscript %}
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{% static 'js/base_app.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% endblock  %}
